{% extends "publicaciones/base.html" %} <!-- DTL: Django Template Languaje -->
{% block card-body %} 
<div class="card-body">
	<div class="container">

		<div class="text-center text-muted mb-5">
			<h2>{{mensaje}}</h2> <!-- h2 Significa tamano -->
		</div>

		<div class="text-center text-danger mb-5">
			<h1>{{error1}}</h1> <!-- h2 Significa tamano -->
		</div>

	{% if ch_pwd1 == 0 %}  
	<form action="/blog/cambiar_clave/" method="post">{% csrf_token%}				
				<div class="form-floating mb-3">
				  <input type="password" class="form-control" name="clave_actual" placeholder="Clave actual" required>
				  <label for="cuenta">Clave actual</label>
				</div>

				<div class="form-floating mb-3">
				  <input type="password" class="form-control" name="clave1" placeholder="Contraseña" required>
				  <label for="clave">Contraseña</label>
				</div>

				<div class="form-floating mb-3">
				  <input type="password" class="form-control" name="clave2" placeholder="Confirmar contraseña" required>
				  <label for="clave">Confirmar Contraseña</label>
				</div>

				<div class="form-floating mb-3">
					<button class="btn btn-primary btn-lg">Ingresar</button>
				</div>
	</form>

	{% endif %} 

	</div>

</div>
{% endblock %} 
