<style type="text/css">
body{
	background-color: #99D7E4;
}
div {
	background-color: #99D7E4;
	color: #47417D;
	padding: 2px;
	border-radius: 5px;
	margin: 1px;
}

div a{
	color: #47417D;
}
#ref_intecap{
	background-color: #FD954C;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: center;
	margin-top: 5px;
	font-family: Lobster;
}
.titulo{
 color: #2D52A2;
 font-family: Lobster;
 padding-top: 30px;
}

.texto{
 color: black;
 font-weight: lighter;
 font-family: Lora;
 text-align: justify;
 padding-right: 15px;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 5px;
 
}

h1 { 
	font-family: Lobster; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Lobster; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px;´} 
h4 { font-family: Lobster; font-size: 18px; font-style: normal; font-variant: normal; font-weight: lighter´} 
h5 { font-family: Lobster; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px;´}

/*
El código que empieza con # está en css, por eso
*/ 
</style>
